p{
background-color: red;
}
nav
{
  background-color: Brown;
}
#Start
{
  background-color: Brown;
}
.sec
{
  background-color: Pink;
}
#third
{
  background-color: yellow;

}
#fourth
{
  background-color: violet;
}
